.idea/
.vs/
.paket/paket.exe
.fake/
output/
build/
packages/*
Cursed.Base/bin
Cursed.Base/obj
Cursed.Desktop/bin
Cursed.Desktop/obj
Cursed/bin
Cursed/obj

Cursed.userprefs
/Cursed/Mac/MyApp.app/MacAppTemplate.app/Contents
/Cursed.Base.Tests/bin/Debug
/Cursed.Base.Tests/obj/Debug
/Cursed.Base.Tests/bin/Release
/Cursed.Base.Tests/obj/Release
/TestResult.xml
Cursed*.zip
/Unzip/bin/Debug
/Unzip/obj
