redirects: off
source https://nuget.org/api/v2

nuget FAKE
nuget Eto.Forms
nuget Eto.Platform.Gtk
nuget Eto.Platform.Gtk3
#nuget Eto.Platform.Mac
#nuget Eto.Platform.Mac.Template
nuget Eto.Platform.Wpf
nuget FSharp.Data
nuget FSharp.Core redirects: force 
nuget Http.fs
nuget Newtonsoft.Json

nuget NUnit
nuget Unquote
nuget NUnit.Console