source https://nuget.org/api/v2

nuget Eto.Forms
nuget Eto.Platform.Gtk
nuget Eto.Platform.Gtk3
nuget Eto.Platform.Mac
nuget Eto.Platform.Mac.Template
nuget Eto.Platform.Windows
nuget Eto.Platform.Wpf
nuget FSharp.Data
nuget PCLStorage
nuget FSharp.Core
nuget SharpZipLib.Portable